* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #2F1893;
}

h1 ,h3, p ,h4{
    color:#ffff;
}

section {
    padding: 50px 0;
}

.hero {
    height: 100vh;

    background-image: url("web/img/Image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .bgimg {
    max-width: 100%;
    height: 850px;
} */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffff;
    padding: 20px;

}

.nav-menu {
    display: flex;
    gap: 30px;
    
}

.navbar a  {
    text-decoration: none;
    color: #ffff;
}

.navbar li {
    list-style: none;
}

.nav-menu  a:hover {
    color: rgb(255, 45, 244);
}

.login {
    background-color: rgb(255, 45, 244);
    border-radius: 30px;
    padding:10px 15px;
}

.login:hover {
    background-color: rgb(228, 33, 228);
    color: rgb(24, 219, 193);
}

.hero {
    text-align: center;
}

.hero-text p{
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
}

.hero-text p{
    margin-bottom: 50px;
}

.hero-text {
    padding:50px;
}

.hero-text h3  {
    margin-bottom: 30px;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text .btlg {
    margin-top: 20px ;
    text-decoration: none;
    color: white;
    background-color: #482BE7;
    border-radius: 30px;
    padding: 10px 20px;
}

.btlg:hover {
    background-color: #583df1;
}

.freesample {
    margin: 10px;
    height:auto;

    background-image: url("web/img/Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feat-img img {
    width: 100%;
    max-width: 500px;
}

.fs-text {
    text-align: center;
    padding: 130px;
}

.fs-text h3 {
    margin-bottom:30px;
}

.fs-text h1 {
    font-size: 40px;
    margin-bottom:30px;
}

.features {
    background-image: url("web/img/Rectangle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .feat-img {
    background-image: url("web/img/Mockup.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.features .content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 50px 0;
}

.feat-text {
    margin: 30px;
}

.ft-1 h1{
    margin-bottom: 30px;
}

.ft-1 {
    margin-bottom: 50px;
}

.ft-group {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.ft-2 img{
    margin-bottom: 30px;
}

.ft-2 h4 {
    margin-bottom: 30px;
}

/* section comment */

.comment {
    margin: 10px;
}


.com-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
}

.card-text {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.case-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* login.html กูไม่ได้ใช้ AI*/

/*  */




